@font-face {
  font-family: Kalam-Regular;
  src: url("../assets/fonts/Kalam-Regular.ttf");
}
@font-face {
  font-family: Kalam-Bold;
  src: url("../assets/fonts/Kalam-Bold.ttf");
}
@font-face {
  font-family: GreatVibes-Regular;
  src: url("../assets/fonts/GreatVibes-Regular.ttf");
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  font-family: Kalam-Regular, sans-serif;
}

.header {
  text-align: center;
  padding: var(--spacing-medium);
  font-family: GreatVibes-Regular, sans-serif;
}

/* ---------------------- */

main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* ---------------------- */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-small) 0;
}

.form label {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.form__input-container {
  width: 100%;
  display: flex;
}

.form__input {
  flex: 1;
  height: 32px;
  padding: 0 var(--spacing-x-small);
  border-bottom: 2px solid black;
}

.form__subject-input {
  border-right: 2px solid black;
}

.form__note-input {
  width: 100%;
  resize: none;
  padding: 0 var(--spacing-x-small);
}

.form__submit-button {
  height: 32px;
  background-color: var(--color-submit-buttons);
  font-size: var(--font-size-base);
}

.form__submit-button:hover {
  opacity: 0.9;
}

.form__error-text {
  visibility: hidden;
  text-align: center;
  padding: var(--spacing-x-small) 0;
}

/* ---------------------- */

.notes__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--spacing-medium);
  width: 95%;
  background-color: var(--color-note-container);
  flex-grow: 1;
  margin: 0 auto;
  padding: var(--spacing-medium);
}

.note-card {
  min-height: 200px;
  max-height: 250px;
  background-color: var(--color-note-background);
  line-break: anywhere;
  hyphens: auto;
}

.note-card__details-tools-container {
  display: flex;
  border-bottom: 1px solid black;
  padding-left: var(--spacing-x-small);
  background-color: var(--color-card-header);
}

.note-card__details-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  flex-grow: 1;
  font-family: Kalam-Bold, sans-serif;
}

.note-card__tools-container {
  display: flex;
  flex-direction: column;
}

.note-card__delete-button,
.note-card__edit-button {
  flex-grow: 1;
  padding: var(--spacing-small);
  background-color: var(--color-note-buttons);
  border-left: 1px solid black;
}

.note-card__delete-button {
  border-bottom: 1px solid black;
}

.note-card__delete-button:hover,
.note-card__edit-button:hover {
  opacity: 0.9;
}

.note-card__text {
  padding: var(--spacing-small);
}

/* Styles for the delete modal */
.delete-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
}

.display-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-modal__container {
  min-width: 400px;
  width: 40%;
  background-color: var(--color-note-background);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-medium) 0;
}

.delete-modal__text {
  text-align: center;
  padding: var(--spacing-small);
}

.delete-modal__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-large);
  padding: var(--spacing-small);
}

.delete-modal__confirm-button,
.delete-modal__cancel-button {
  min-width: 80px;
  min-height: 32px;
  font-family: Kalam-Bold, sans-serif;
  background-color: var(--color-submit-buttons);
  border: 1px solid black;
}

/* Edit mode */
.note-card--edited {
  background-color: yellow;
}
